body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}
.experience {
    margin-left: 50px;
    padding: 20px 0;
}
.experine {
    background-color: #e9ecef;
}
.contact {
    background-color: #e9ecef;
}
.text-center {
    padding-top: 30px;
}
